# Infra variables db
POSTGRES_DB="my_db"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD ="root"

# Django admin secret
SUPERUSER_USERNAME= "user"
SUPERUSER_EMAIL= "my@gmail.com"
SUPERUSER_PASSWORD= "pwd"

# Django Environment
DEBUG= True #dev False for prod
ALLOWED_HOSTS="localhost,127.0.0.1,server"
DJANGO_SECRET_KEY = 'django-insecure-example'